/* Responsive */
/* Desktop Screen */


*{
    padding: 0;
    margin:0;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

nav{
    position: fixed;
    height:80px;
    width:100%;
    background:#0082e6;
    box-shadow: 0px 4px 10px rgba(0,0,0,.3);
    transition: all .3s;

}

nav .logo{
    font-size: 35px;
    color:white;
    font-weight:bold;
    line-height: 80px;
    padding-left:100px;

}


nav ul {
    float:right;
    margin-right:50px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin:0 15px;
    line-height: 80px;
}

nav ul li a{
    color:white;
    font-size: 23px;
    font-weight: 600;

}

li a:hover{
    color:#bab7d8;
    transition: .5s;
    
}

.sec1{
    background:url(thumnail.jpg) no-repeat;
    background-size: cover;
    height:calc(100vh - 60px);
}

.sec2{
    
    background:url(img.jpg) no-repeat;
    background-size: cover;
    height:calc(100vh - 60px);

 
}

h1{
    font-size:40px;
    padding:20px 0 10px 20px;
}

p{
    font-size:20px;
    padding:0px 20px 0 20px;

}

/* ------------------------------------------- */
/* Responsive */

/* Android Screen */

.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}

#check{
    display:none;
}

@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }

    nav ul li a{
        font-size:16px;
        color:white;
    }
}

@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background:#2c3e50;
        top:80px;
        left:-100%;
        text-align:center;
        transition: all .5s;
        
    }

    nav ul li{
        display:block;
    }

    nav ul li a{
        font-size:25px;
    }
    
    li a:hover{
        transition:.5s;
        color:#0082e6;
    }


    #check:checked ~ ul{
        left:0;
    }
    

}
